img{
    display: inline;
    width: 300px;
    height: 200px;
    padding: 20px;
}
.img1{
    transform: perspective(300px)
    rotateX(20deg);
}
.img2{
    transform: perspective(300px)
    rotateY(20deg);
}
.img3{
    transform: perspective(300px)
    rotateX(20deg);
}
.img4{
    transform: perspective(300px)
    rotateY(-20deg);
}
@keyframes h{
    from{
        opacity: 80%;
    }
    to{
        opacity: 0%;
    }
}
.h{
    animation-name: h;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-timing-function: linear;
    text-align: center;
}