
lli {
  list-style: none;
  margin-left: -40px;
}
li:hover {
  background: rgb(235, 233, 233);
}
.displayOfInput[type="radio"] {
  display: inline-block !important;
}
input[type="radio"] {
  display: none;
}
ul {
  border: 1px solid;
  width: 152px;
  margin-top: 3px;
}
span{
  display: inline-block;
  width: 100px;
}
img {
  height: 15px;
  width: 30px;
  margin-bottom: -3px;
  margin-right: 5px;
}

td,th,table {
  border: 1px solid;
  border-collapse: collapse;
}
.name{
  width:150px;}
.small{
  width:75px;}